# User configuration
lib/Config/Config.h
platformio.ini

# Local dev stuff
/local

# VSCode preferences
.vscode

# PlatformIO stuff
.pio

# Hardware folder not ready yet (will include it later)
hardware/
